h1{
    font-size: 45px;
   
    color: rgb(150, 125, 125);
   
}

span{
    color:chocolate;
}


#home{
    padding: 70px  80px;
   
}

.half-width{
   
    width:50%;
    
    margin-left: 5%;
    padding-left: 2%;
}

.color-font{
    font-size: 20px;
    color:rgb(79, 102, 79);
    font-family: 'Bona Nova', serif;
    padding-bottom: 10px;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(57, 216, 57), tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.female-image{
    width:100%;
    height:auto;
  
    padding-left:20%;
}

#about{
    background-image: url("../images/about-background.jpg");
    background-size:cover;
    padding-bottom: 50px;
    
   
   
}

.container{
    display: flex;
    width: 1130px;
    margin: 0 auto;
   align-items: center;
   justify-content: space-between;
   
}

.about-img{
    width:80%;
    height:80%;
}

.title {
    text-align:center;
    padding-bottom: 40px;

}
.title h2{
    font-size:45px;
    color: rgb(150, 125, 125);
}

#items{
    padding-bottom:5%
}

.item-list{
    width: 30%;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgb(75, 70, 70);
    margin-top: 40px;
    padding: 15px;
    margin-right:30px


}
.item-img img{
    width: 100%;
    border-radius: 20px; 
}
.item-text h3{
    text-align:center;
    font-size: 25px;
    color:rgb(112, 105, 11);
}
.item-text p{
    font-family: 'Festive', cursive;
}

footer{
    background-color:black;
    
    text-align: center;
    padding-bottom: 5px;
    padding-top:10px
}

footer h2{
    color:white;
    font-size: 40px;
    margin: 0 0 30px;
}

footer p{
    font-size: 18px;
    color:white;
    margin-bottom: 5%;
    
}