h1{
    font-size: 45px;
   
    color: rgb(150, 125, 125);
   
}

span{
    color:chocolate;
}


#home{
    padding: 70px 0 80px;
   
}

.half-width{
   
    width:50%;
    
    margin-left: 5%;
    padding-left: 2%;
}

.color-font{
    font-size: 20px;
    color:rgb(79, 102, 79);
    font-family: 'Bona Nova', serif;
    padding-bottom: 10px;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(57, 216, 57), tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.female-image{
    width:100%;
    height:auto;
  
    padding-left:40%;
}

#about{
    background-image: url("../images/about-background.jpg");
    background-size:cover;
    padding-bottom: 50px;
    
   
   
}

.container{
    display: flex;
    width: 1130px;
   align-items: center;
   
}

.about-img{
    width:80%;
    height:80%;
}

footer{
    background-color:black;
    
    text-align: center;
    padding-bottom: 5px;
    padding-top:10px
}

footer h2{
    color:white;
    font-size: 40px;
    margin: 0 0 30px;
}

footer p{
    font-size: 18px;
    color:white;
    margin-bottom: 5%;
    
}